<div class="settings">
  <form [formGroup]="instantTradeForm" class="settings__form">
    <div class="settings__form-row settings__form-row_large-input">
      <label>{{ 'settings.instantTrades.slippageTitle' | translate }}</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.instantTrades.slippage' | translate"
        tuiHintMode="onDark"
      ></div>
    </div>
    <div class="settings__form-row settings__form-row_united">
      <div
        (click)="toggleAutoSlippageTolerance()"
        class="settings__button-auto"
        [ngClass]="{ 'settings__button-auto_active': instantTradeForm.value.autoSlippageTolerance }"
      >
        Auto
      </div>
      <button (click)="onSlippageToleranceChange(0.1)" class="settings__button-auto">0.1</button>
      <button (click)="onSlippageToleranceChange(0.5)" class="settings__button-auto">0.5</button>
      <div class="slippage-container">
        <input
          appCommaToPeriod
          [ngModel]="slippageTolerance"
          (amountChange)="onSlippageToleranceChange($event)"
          [ngModelOptions]="{ standalone: true }"
          [tuiTextfieldLabelOutside]="true"
          [tuiTextfieldSize]="'s'"
          [minAmount]="0.01"
        />
        <div>%</div>
        <span></span>
      </div>
    </div>
    <div class="settings__form-row settings__form-row_small-input">
      <div class="settings__form-row">
        <label>{{ 'settings.instantTrades.deadlineTitle' | translate }}</label>
        <div
          class="settings__hint"
          [inlineSVG]="'/assets/images/icons/hint.svg'"
          [tuiHint]="'settings.instantTrades.deadline' | translate"
          tuiHintMode="onDark"
        ></div>
      </div>
      <tui-input-number
        id="deadline"
        [tuiTextfieldLabelOutside]="true"
        formControlName="deadline"
        decimal="never"
        [max]="240"
        [min]="1"
        [tuiTextfieldSize]="'s'"
        >20
      </tui-input-number>
      <span> {{ 'common.minutes' | translate }}</span>
    </div>

    <div class="settings__form-row">
      <label>{{ 'settings.instantTrades.multihopsTitle' | translate }}</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.instantTrades.multihops' | translate"
        tuiHintMode="onDark"
      ></div>
      <tui-toggle
        class="settings__toggle"
        id="disableMultihops"
        formControlName="disableMultihops"
      ></tui-toggle>
    </div>

    <div class="settings__form-row">
      <label>{{ 'settings.instantTrades.autoRefreshTitle' | translate }}</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.instantTrades.autoRefresh' | translate"
        tuiHintMode="onDark"
      ></div>
      <tui-toggle
        class="settings__toggle"
        id="autoRefresh"
        formControlName="autoRefresh"
      ></tui-toggle>
    </div>

    <div class="settings__form-row">
      <label>{{ 'settings.instantTrades.showReceiverAddressTitle' | translate }}</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.instantTrades.showReceiverAddress' | translate"
        tuiHintMode="onDark"
      ></div>
      <tui-toggle
        class="settings__toggle"
        id="showReceiverAddress"
        formControlName="showReceiverAddress"
      ></tui-toggle>
    </div>
  </form>
</div>
