@use 'src/scss/mixins' as *;

:host {
  display: block;
  margin-top: 20px;

  @include iframe-vertical {
    position: absolute;
    top: 110px;
    right: 0;
  }

  @include iframe-horizontal {
    position: absolute;
    top: 43px;
    right: -195px;
  }

  tui-input {
    ::ng-deep {
      input {
        padding: 0;
      }
    }
  }

  ::ng-deep .network-container {
    &__input-status-icon,
    &__input-clipboard-icon {
      width: 26px;
      height: 26px;
    }

    &__input-clipboard-icon {
      cursor: pointer;

      pointer-events: all;
    }

    &__iframe-input {
      width: 182px;
    }

    tui-wrapper[data-appearance='textfield'] {
      --tui-base-01: transparent;
      border-radius: 50px;
      box-shadow: none;

      @include iframe {
        --tui-base-01: var(--primary-background);
        border-radius: 10px;
        box-shadow: none;

        &::after {
          border: none;
        }
      }

      &::after {
        border: 1px solid var(--transparent-line);
      }

      input {
        font-size: 12.5px;

        border-right-width: 74px !important;

        border-left-width: 15px !important;

        @include iframe {
          padding-right: 0 !important;

          border-left-width: 0 !important;
        }
      }

      .content {
        padding-left: 33px !important;

        @include iframe {
          padding: 0 0 0 var(--tui-padding-s) !important;
        }
      }

      .custom-content {
        margin-right: -0.25rem;
      }

      .placeholder {
        font-size: 14px;
      }
    }

    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &__hint {
      display: flex;
      margin-left: 10px;

      cursor: pointer;

      ::ng-deep {
        svg {
          width: 15px;
          height: 15px;

          path {
            fill: var(--secondary-text);
          }
        }
      }
    }
  }
}
