<footer class="rubic-footer">
  <app-rubic-volume *noFrame></app-rubic-volume>
  <!-- <nav class="rubic-footer__nav">
    <a
      *ngFor="let link of footerLinks"
      class="rubic-footer__link"
      [href]="link.link"
      rel="noopener"
      target="_blank"
    >
      <img [src]="link[theme$ | async]" width="22" height="20" [alt]="link.altText" />
    </a>
  </nav> -->
  <div class="rubic-footer__copyright">
    © Copyright Pawswap {{ year }},
    <a href="#" class="rubic-footer__policy">Privacy Policy</a>
    {{ ' | ' }}
    <a href="#" class="rubic-footer__policy">Terms of Service</a>
  </div>
</footer>
