<tui-root>
  <ng-container *ngIf="isBackendAvailable">
    <div class="wrapper" *noFrame>
      <app-header></app-header>
      <div style="margin-top: 50px; text-align: center; width: 100%; margin-bottom: 50px;">
        <h1 style="margin-bottom: 12px; text-align: center; font-size: 45px; margin-top: 22px;">Swap</h1> <br>
        <p style="display: flex; align-items: center; margin-top: 0px; font-size: 16px; text-align: center; width: 100%; justify-content: center;"><img src="../assets//favicon/logo.svg" alt="logo" style="height: 20px; margin-right: 8px;"> <span style="color: rgb(0, 0, 0); font-family: 'Basier Circle Medium';">$0.000000043036</span> </p>
      </div>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
      <app-rubic-footer class="footer"></app-rubic-footer>
    </div>

    <div class="iframe-wrapper" *onlyFrame>
      <div class="iframe-content">
        <app-header></app-header>
        <main class="main-content">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </ng-container>

  <ng-container ngProjectAs="tuiOverDialogs">
    <app-maintenance *ngIf="isBackendAvailable === false"></app-maintenance>
  </ng-container>

  <ng-container ngProjectAs="tuiOverNotifications">
    <!-- Content over notifications -->
  </ng-container>

  <ng-container ngProjectAs="tuiOverPortals">
    <!-- Content over dropdowns -->
  </ng-container>

  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
</tui-root>
