@use 'src/scss/core' as *;

@mixin tokenImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

:host {
  position: relative;

  display: block;
  width: 100%;
  max-width: 1117px;
  min-height: 382px;
  margin: 0 auto;
}

.title {
  @include font(26px, 31px, 700, var(--primary-text));
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  @include b($tablet) {
    margin-bottom: 6px;

    font-size: 20px;
    line-height: 24px;
  }
}

.description {
  @include font(16px, 19px, 500, #A2A1A5);
  margin-bottom: 32px;

  @include b($tablet) {
    margin-bottom: 14px;

    font-size: 13px;
    line-height: 16px;
  }
}

.table {
  width: 100%;

  th { font-weight: normal; }

  &__tr_head {
    background: rgba(255, 255, 255, 0.1);
  }

  .table__th {
    @include font(14px, 17px, 400, #A2A1A5);
    padding: 16px;

    text-align: left;

    @include dark {
      color: white;
    }

    &:first-child {
      border-color: transparent;
      border-left-style: solid;
      border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-color: transparent;
      border-left-style: solid;
      border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.no-transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
  margin: auto;
  padding: 64px 0;

  &__title {
    @include font(16px, 18px, 500, #8E8D91);
    margin-bottom: 24px;

    text-align: center;

    @include dark {
      color: #a2a1a5;
    }
  }

  &__navigate {
    width: 100%;
    max-width: 218px;
  }
}
