@use 'src/scss/core' as *;

::ng-deep {
  .tui-dialog {
    border: none;
  }
}

.title {
  @include font(26px, 31px, 700, #000);
  margin-bottom: 8px;

  text-align: center;

  @include iframe-horizontal {
    margin-bottom: 30px;
  }

  @include hide-unused-ui {
    margin-bottom: 20px;
  }

  @include b($tablet) {
    max-width: 320px;
    margin: 20px 20px 8px;

    font-size: 20px;
    line-height: 24px;
    text-align: left;

    @include hide-unused-ui {
      margin: 20px;
    }

    @include iframe {
      margin: 20px 20px 40px;
    }
  }

  @include dark {
    color: #fff;
  }
}

.description {
  @include font(16px, 19px, 500, #A2A1A5);
  margin-bottom: 56px;

  text-align: center;

  @include b($tablet) {
    margin: 0 20px 30px;

    font-size: 13px;
    line-height: 15px;
    text-align: left;
  }

  @include hide-unused-ui {
    display: none;
  }

  @include iframe {
    display: none;
  }

  span {
    cursor: pointer;
  }
}

.pair {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 56px;

  @include b($tablet) {
    margin: 0 20px 70px;
  }

  @include iframe-horizontal {
    display: none;
  }

  &__arrow {
    width: 32px;
    margin: 0 65px;

    @include b($tablet) {
      margin: 0 32px;
    }
  }

  &__from,
  &__to {
    display: flex;
    align-items: center;
    width: calc(100% - 32px - 65px - 65px);

    @include b($tablet) {
      width: calc(100% - 32px - 32px - 32px);
    }

    img {
      width: 42px;
      height: 42px;
      margin-right: 8px;

      border-radius: 100%;

      @include b($tablet) {
        width: 38px;
        height: 38px;
      }
    }
  }

  &__from {
    justify-content: flex-end;
  }

  &__to {
    justify-content: flex-start;
  }

  &__symbol {
    @include font(20px, 17px, 500,#000);
    margin-bottom: 4px;

    @include dark {
      color: #e8e8ea;
    }

    @include b($tablet) {
      margin-bottom: 0;

      font-size: 16px;
      line-height: 17px;
    }
  }

  &__blockchain {
    @include font(18px, 16px, 500,#8E8D91);

    @include b($tablet) {
      font-size: 14px;
      line-height: 16px;
    }    
  }
}

.scheme {
  position: relative;

  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto 16px;

  @include b($tablet) {
    margin: 0 20px 40px;
  }

  &__status-icon {
    position: absolute;
    top: -25px;

    &_rotating {
      animation: rotating 2s linear infinite;
    }
  }

  &_failed {
    opacity: 0.4;
  }
    
  &__pool {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    &-icon {
      position: relative;
      z-index: 3;

      width: 32px;
      height: 32px;
      margin-bottom: 8px;

      border-radius: 100%;
    }

    &-name {
      @include font(18px, 21px, 500, #000);
      text-align: center;

      @include dark {
        color: #fff;
        font-weight: 600;
      }

      @include b($tablet) {
        font-size: 14px;
        line-height: 16px;
      }

      span {
        @include font(14px, 17px, 400, #8E8D91);

        @include dark {
          color: #fff;
        }
      }
    }
  }

  &__util {
    position: absolute;

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    &-left {
      width: 32px;
      height: 100%;

      background-color: red;
    }

    &-right {
      width: 32px;
      height: 100%;

      background-color: red;
    }
  }

  &__src,
  &__dst {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;

    @include b($tablet) {
      width: 90px;
    }

    &-icon {
      width: 32px;
      height: 32px;
      margin-bottom: 8px;

      border-radius: 100%;
    }

    &-name {

      @include font(18px, 21px, 500, #000);
      text-align: center;

      @include dark {
        color: #fff;
        font-weight: 600;
      }

      @include b($tablet) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__line {
    position: absolute;

    width: 60%;

    &-dashed {
      height: 2px;

      background: url('/assets/images/icons/dashed-line.svg');
    }

    hr {
      width: 100%;
      height: 2px;
    }

    &_default hr {
      background: #242327;
    }

    &_success hr {
      background: var(--primary-color);
    }

    &_src {
      top: 1em;
      left: -3em;
      z-index: 2;

      @include b($tablet) {
        left: -2em;
      }
    }

    &_dst {
      top: 1em;
      right: -3em;
      z-index: 1;

      @include b($tablet) {
        right: -2em;
      }
    }
  }
}

.caption {
  @include font(14px, 17px, 400, #525155);
  max-width: 575px;
  margin: 0 auto 1.5em;

  text-align: center;

  @include iframe-horizontal {
    margin-bottom: 10px;
  }

  @include dark {
    color: #8e8d91;
  }

  @include b($tablet) {
    margin: 0 20px;

    font-size: 11px;
    line-height: 15px;
    text-align: left;
  }

  a {
    text-decoration: none;
  }
}

app-rubic-button {
  display: block;
  max-width: 469px;
  margin: 32px auto 0;
}

.highlight {
  &_green {
    color: var(--primary-color);
  }

  &_black-white {
    color: #000;

    @include dark {
      color: #fff;
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
