@use 'src/scss/core' as *;

:host {
  @include hide-unused-ui {
    display: none;
  }
}

.switcher {
  z-index: 999;

  display: flex;
  box-sizing: content-box;
  width: 42px;
  height: 42px;
  padding: 0;

  background-color: var(--secondary-background);
  border-radius: 50%;

  cursor: pointer;

  @include iframe {
    height: 30px;

    background-color: unset;
  }

  img {
    margin: auto;
  }

  &__iframe-arrow {
    @include iframe-vertical {
      transform: rotate(90deg);
    }
  }
}
