<button class="switcher" (click)="switcherClick.emit()" style="background-color: black; display: grid; place-items: center;">
  <div style="display: grid; place-content: center;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M20.5 14.99L15.49 20.01" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3.5 14.99H20.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3.5 9.00999L8.51 3.98999" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M20.5 9.01001H3.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  </div>
  <!-- <img *noFrame src="assets/images/icons/swithcer.svg" alt="Switch swaps" /> -->
  <img
    *onlyFrame
    class="switcher__iframe-arrow"
    src="assets/images/icons/arrow/long-arrow-right.svg"
    alt="Switch swaps"
  />
</button>
