@use 'src/scss/core' as *;

:host {
  z-index: -1;

  display: block;
}

.info {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 24px;

  font-size: 14px;

  border-radius: $border-radius-3;

  &__chip {
    padding: 6px 20px;

    color: var(--primary-text);
    line-height: 22px;

    border-radius: $border-radius-3;

    &_colored {
      background: transparentize($color: $primary-color, $amount: 0.85);
      border-radius: $border-radius-3;
    }
    
    &:not(:last-child) {
      margin-right: 6px;
    }

    &:last-child {
      padding-left: 14px;
    }
  }
}

.route {
  position: relative;

  display: flex;

  padding: 0 23px;

  &__line {
    overflow: hidden;

    white-space: nowrap;

    &::after {
      display: inline-block;
      width: 100%;
      padding-left: 5px;

      font-size: 28px;
      letter-spacing: 2px;
      vertical-align: 3px;

      background-repeat: repeat;

      background-size: 100%;
      -webkit-background-clip: text;

      content: '..........................................................................................................';
      -webkit-text-fill-color: transparent;
    }

    &_left {
      &::after {
        color: var(--left-color);

        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--left-color) 40%);

      }
    }

    &_right {
      margin-left: -4.5px;

      &::after {
        color: var(--right-color);

        background-image: linear-gradient(90deg, var(--right-color) 40%, rgba(0, 0, 0, 0));
      }
    }
  }

  .dex {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;

    &__icon {
      position: relative;

      width: 32px;
      height: 32px;
      margin-bottom: 10px;

      img {
        width: 32px;
        height: 32px;

        border-radius: 4px;
      }
    }

    &__name {
      width: 200px;

      color: var(--primary-text);
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      text-align: center;

      @include b($mobile-md) {
        width: 80px;
      }
    }

    &__cap {
      color: var(--secondary-text);
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
  }
}
