@use 'src/scss/core' as *;

:host {
  position: relative;

  display: block;
  max-width: 565px;
  margin: 0 auto;

  @include iframe {
    width: 100%;
  }

  @include iframe-horizontal {
    max-width: unset;
  }

  @include hide-unused-ui {
    display: inline;
  }
}

.swap-form {
  position: relative;

  min-height: 200px;
  margin-bottom: 20px;
  padding: 24px;


  background: var(--form-background);
  border: 1px solid black;
  border-radius: 19px;

  @include iframe-horizontal {
    display: flex;
    align-items: flex-end;

    min-height: $iframe-horizontal-height;
    margin-bottom: 0;
    padding: 0 20px 55px;
  }

  @include iframe-vertical {
    width: $iframe-vertical-width;
    height: $iframe-vertical-height;
    margin-bottom: 0;
    padding: 80px 10px 15px;
  }

  @include light-iframe {
    background-color: white;
  }

  @include hide-unused-ui {
    margin: 0;
  }

  &_extended {
    height: 660px;
  }

  &_limit-order {
    min-height: auto;
    margin-bottom: 0;
    padding: 24px 24px 0;

    border-bottom: 0;
    border-radius: 19px 19px 0 0;
  }

  ~ *:not(:last-child) {
    display: block;
    margin-bottom: 35px;
  }

  &__header {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;

    min-height: 40px;
  }

  &__title {
    margin: 0 10px 0 0;

    color: var(--primary-text);
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1.5px;
  }

  &__settings-wrapper {
    display: flex;

    @include hide-unused-ui {
      margin: 0;
    }
  }

  &__settings {
    display: flex;

    margin-left: 10px;

    cursor: pointer;
  }

  &__delimiter {
    position: relative;

    background-color: var(--primary-background);

    @include iframe-horizontal {
      display: flex;
      align-items: center;
      margin: 0 5px;

      background-color: unset;
    }

    @include iframe-vertical {
      display: flex;
      justify-content: center;

      padding: 0;

      background: transparent;
    }

    @include hide-unused-ui {
      &::before {
        width: 100%;
      }

      &::after {
        width: 0;
      }
    }

    > * {
      position: absolute;
      left: 50%;

      transform: translate(-50%, -50%);

      @include iframe-horizontal {
        position: static;
        left: unset;

        transform: unset;
      }

      @include iframe-vertical {
        position: static;
        left: unset;

        transform: none;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;

      display: block;
      width: calc(50% - 17px);
      height: 1px;

      background-color: var(--transparent-line);

      opacity: 0.5;

      content: '';

      @include iframe-vertical {
        display: none;
      }
    }

    &::after {
      right: 0;
    }

    &_full {
      &::before {
        width: 100%;
      }

      &::after {
        display: none;
      }
    }
  }

  &_limit-order &__delimiter {
    z-index: 99999;
  }

  &__content {
    margin-top: 30px;

    @include iframe-horizontal {
      display: flex;
      justify-content: space-between;
      width: 100%;

      height: 50px;
      margin-top: 0;
    }

    @include iframe-vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-top: 0;
    }
  }

  &__block {
    @include iframe {
      display: flex;

      app-iframe-asset-type-indicator {
        margin-right: 10px;
      }
    }

    @include iframe-vertical {
      app-instant-trade-bottom-form,
      app-bridge-bottom-form,
      app-cross-chain-bottom-form,
      app-onramper-bottom-form {
        width: 100%;
      }
    }
  }

  app-onramper-widget {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 9999;

    display: block;
  }
}

app-swap-info-container,
app-analytics-link {
  display: block;

  margin-bottom: 20px !important;
}


.close-widget-button {
  display: none;

  width: 42px;
  margin-bottom: 13px;

  ::ng-deep app-rubic-button {
    tui-wrapper {
      background: var(--form-background);
    }
  }
}

@include b($tablet) {
  .close-widget-button {
    display: block;
  }
}

@include b($mobile-md) {
  .swap-form {
    position: relative;

    padding: 20px 0;

    &__content {
      margin-top: 0;
    }

    &__header {
      padding: 0 20px;
    }

    &__title {
      display: none;
    }

    &__delimiter {
      &::before,
      &::after {
        width: calc(50% - 37px);
      }

      &::before {
        left: 20px;
      }

      &::after {
        right: 20px;
      }

      &_full {
        &::before {
          width: calc(100% - 40px);
        }
      }
    }
  }
}

app-form-navigation {
  display: none;

  @include b($laptop-xl) {
    display: block;
    margin-bottom: 8px;

    @include iframe {
      display: none;
    }
  }
}
