@use 'src/scss/core' as *;

.button-link {
  display: inline-block;
  padding: 14px 20px;

  color: var(--primary-text);

  font-size: $rubic-font-size-01;
  text-decoration: none;

  background-color: var(--tui-secondary);

  border-radius: 100px;

  cursor: pointer;

  &:hover {
    text-decoration: none;

    background-color: var(--tui-secondary-hover);
  }

  &:hover {
    transition: 0.3s ease-in-out;
  }

  &:not(&_active) {
    background-color: transparent;

    &:hover {
      background-color: var(--tui-secondary-hover);
    }
  }

  &:active,
  &_active:active {
    background-color: var(--primary-color);

    :host-context(html.dark) & {
      color: var(--primary-text) !important;
    }
  }

  &:focus {
    text-decoration: none;

    border-color: var(--primary-color);
  }

  &_disabled {
    color: $rubic-text-disable !important;

    pointer-events: none;
  }
}

.rubic-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 24px;

  @include b($mobile-sm) {
    padding: 5px 10px !important;

    > * {
      transform: scale(0.75);

      @include iframe {
        transform: unset;
      }
    }
  }

  @include iframe {

    margin-right: 50px;
    padding: 0 !important;

    app-iframe-logout-button {
      margin-left: 6px;
    }
  }

  @include hide-unused-ui {
    display: none;
  }

  &__disabled-link {
    color: #909090;
    font-size: 16px;
  }

  &__nav,
  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__profile {
    grid-gap: 25px;

    @include iframe {
      grid-gap: 0;

      &-user {
        margin-left: 6px;
      }
    }
  }

  &__logo {
    display: block;
    margin-right: 40px;

    @include iframe-vertical {
      margin-right: auto;
    }

    img {
      display: block;
    }
  }

  &__menu {
    display: inline-flex;
    margin-right: auto;
  }

  &__nav {
    position: absolute;
    left: 50%;

    gap: 10px;

    width: 565px;

    transform: translateX(-50%);
  }

  &__profile-trades {
    position: relative;
  }

  &__buy-token {
    flex-shrink: 0;
    margin: 0 25px;
  }
}

.notification-counter {
  position: absolute;
  top: -5px;
  right: 0;

  &[data-tui-host-status='default'] {
    color: white;

    background-color: var(--primary-color);
  }

  &[data-tui-host-padding='m'][data-tui-host-size='s'] {
    padding: 1px 0.375rem 0;
  }
}

@include b($laptop-xl) {
  .rubic-header {
    padding: 21px 20px 19px;

    &__profile-trades,
    &__profile-user,
    &__login,
    &__nav {
      display: none;
    }

    &__profile-user {
      @include iframe {
        display: block;
      }
    }

    &__logo {
      margin-right: auto;
    }

    &__menu {
      order: 1;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

@include b($mobile-md) {
  .rubic-header {
    &__logo {
      img {
        width: 95px;
      }
    }

    &__buy-token {
      margin-right: 15px;
      margin-left: 15px;
    }

    ::ng-deep &__buy-token {
      button[tuiButton][data-tui-host-size=l] {
        height: 40px;

        font-size: 14px;

        .wrapper {
          padding: 0 20px !important;
        }
      }
    }
  }
}

.rubic-header {
  @include iframe-vertical {
    &__logo {
      img {
        width: 80px;
      }
    }
  }
}
