<header class="rubic-header">
  <a *noFrame class="rubic-header__logo" routerLink="/">
    <img
      [src]="
        (isDarkTheme$ | async)
          ? 'assets/images/updt/logo.svg'
          : 'assets/images/updt/logo.svg'
      "
      alt="PAW logotype"
      width="50"
    />
  </a>
  <a
    *onlyFrame
    class="rubic-header__logo"
    rel="noopener noreferrer"
    target="_blank"
    [href]="noFrameLink"
  >
    <img src="assets/images/updt/logo.svg" alt="PAW logotype" width="90" />
  </a>

  <!-- <app-rubic-menu
    *noFrame
    class="rubic-header__menu"
    [swapActive]="rootPath && (swapType$ | async) === SWAP_PROVIDER_TYPE.INSTANT_TRADE"
    [crossChainActive]="rootPath && (swapType$ | async) === SWAP_PROVIDER_TYPE.CROSS_CHAIN_ROUTING"
    (swapClick)="navigateToSwaps()"
  ></app-rubic-menu> -->
  <div></div>

  <nav *noFrame class="rubic-header__nav">
    <a
      class="button-link"
      (click)="navigateToSwaps()"
      [class.button-link_active]="
        rootPath &&
        ((swapType$ | async) === SWAP_PROVIDER_TYPE.CROSS_CHAIN_ROUTING ||
          (swapType$ | async) === SWAP_PROVIDER_TYPE.INSTANT_TRADE)
      "
      >Bridge</a
    >
    <a
      class="button-link"
      (click)="navigateToLimitOrder()"
      [class.button-link_active]="(swapType$ | async) === SWAP_PROVIDER_TYPE.LIMIT_ORDER"
      >Limit Order</a
    >
    <!-- <div
      class="button-link"
      routerLink="/revoke-approval"
      [class.button-link_active]="isRevokePage"
    >
      Revoke Approval
    </div> -->
  </nav>
<!-- 
  <app-buy-token
    *noFrame
    class="rubic-header__buy-token"
    [tokensType]="advertisementType"
  ></app-buy-token> -->

  <div class="rubic-header__profile">
    <ng-container *ngIf="!(currentUser$ | async)?.address; else loggedIn">
      <app-login-button class="rubic-header__login" *noFrame></app-login-button>
    </ng-container>
    <ng-template #loggedIn>
      <app-user-profile class="rubic-header__profile-user"></app-user-profile>
      <app-iframe-logout-button *onlyFrame></app-iframe-logout-button>
    </ng-template>

    <!-- <app-settings *noFrame></app-settings> -->
  </div>
</header>
