@use 'src/scss/core' as *;

$block-height: 18px;

.platform-tokens-amount {
  margin: 0;
  font-family: 'Basier Circle Medium', sans-serif !important;
  font-weight: bold;

  font-size: $block-height;
  letter-spacing: 0.7px;

  @include b($mobile-sm) {
    max-width: 170px;
  }

  &__container {
    display: inline-flex;
    max-height: $block-height;
    overflow: hidden;
  }

  &_inner-container {
    display: flex;
    align-items: baseline;

    color: var(--primary-color);

    > span {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 11px;

      text-align: center;

      &:nth-child(3) {
        width: 6px; /* Temporary fix for tight first digit (1) */
      }
    }

    > span:nth-child(2n) {
      animation: slide 0.9s ease-out;
    }

    > span:nth-child(2n + 1) {
      animation: slide 0.7s ease-out;
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
