@use 'src/scss/core' as *;

.slippage-container {
  position: relative;

  display: flex;
  align-items: center;
  padding-right: 22px;
  padding-left: 12px;

  input {
    width: 100%;
    height: 35px;

    text-align: right;

    background: transparent;
    border: none;
    border-radius: 100px;

    ~ span {
      position: absolute;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 100%;

      border: 1px solid var(--tui-base-03);
      border-radius: 100px;

      transition: var(--tui-duration) ease-in-out;
    }

    &:focus ~ span {
      border: 2px solid var(--tui-primary);
    }
  }
}

:host {
  color: var(--primary-text);
}

.settings {
  min-width: 265px;
  max-width: 320px;
  padding: 20px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__hint {
    height: 15px;
    margin-right: auto;
    margin-left: 6px;

    cursor: pointer;

    ::ng-deep svg path {
      fill: var(--secondary-text);
    }
  }

  &__button-auto {
    box-sizing: border-box;
    height: 35px;
    margin-right: 10px;
    padding: 8px 15px;

    color: var(--primary-text);

    background: none;
    border: 1px solid transparent;
    border-radius: $border-radius-2;

    cursor: pointer;

    &_active {
      color: var(--primary-text-invert);

      background: var(--primary-color);
    }
  }

  &__toggle {
    margin-left: 15px;

    @include b($mobile-sm) {
      transform: scale(1.25);
    }
  }

  &__form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      font-weight: 300;
      font-size: 16px;
    }

    &_united {
      flex-wrap: nowrap;

      tui-input-number {
        width: 100%;
      }
    }

    &_small-input {
      ::ng-deep tui-wrapper[data-appearance='textfield'] {
        width: 80px;
      }
    }
  }

  ::ng-deep {
    tui-wrapper[data-appearance='textfield'] {
      color: var(--primary-text);

      border-radius: 100px;
      box-shadow: none;

      input {
        padding-right: 22px !important;
      }

      input,
      input::placeholder {
        text-align: right;
      }
    }

    input + .content .placeholder {
      text-align: right;
    }

    .wrapper {
      display: flex;
    }

    .value-decoration {
      margin-left: auto;
    }
  }
}
